@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){
     .mobileHide {display: none;}
  }

@media only screen
    and (min-device-width : 480px){
     .desktopHide {display: none;}
  }

#header {
background-color: #33475b;
/*width:1135px;*/
/*float:center;*/
/*border-style:none none none none;*/
/*border-width:0px;
border-color:#B0C4DE;*/
text-align:left;
font-family: palatino;
font-size: 180%;
color:lightgrey;
font-weight:bold;
/*margin-top:30px;*/
/*margin-bottom:30px;*/
padding: 50px;
}
#header a {
  color:lightgrey;
  text-decoration:none;
  font-weight:bold;
}
#mainbox {
width:1135px;
/*border-style:none none none none;
border-width:2px;
border-color:#B0C4DE;
border-color: white;*/
margin-left:50px;
margin-right:auto;
margin-top:30px;
margin-bottom:10px;
/*box-shadow:0px 0px 5px #D0DCEB;*/
background-color: white;
}
#menu {
background-color: #33475b;
width:205px;
float:left;
/*border-style:none;
border-width:2px;
border-color:Blue;
margin-top:5px;
margin-right:5px;*/
font-family: palatino;
text-align:left;
font-size: 130%;
padding: 50px;
}
#menu p a {
color:lightgrey;
text-decoration:none;
font-weight:bold;
}
#menuright {
width:205px;
float:right;
border-style:none;
border-width:2px;
border-color:Blue;
margin-top:5px;
margin-right:5px;
font-family: palatino;
text-align:right;
font-size: 130%;
}
#menuright p a {
color:darkgrey;
text-decoration:none;
font-weight:bold;
}
#main_title {
margin-left:235px;
margin-right:235px;
margin-top:30px;
margin-bottom:30px;
text-align:center;
color:darkgrey;
font-family: palatino;
font-size: 200%;
font-weight:bold;
}
#footer {
clear:both;
text-align:center;
}
#container {
  margin-left:235px;
  margin-right:235px;
  margin-top:30px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 500px;
}
#shortcontainer {
margin-left:235px;
margin-top:5px;
margin-right:235px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 272px;
}
#shortcontainercentre {
align:center;
margin-left:235px;
margin-top:5px;
margin-right:235px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 272px;
}

.content {
/*text-indent:25px;*/
margin-left:235px;
margin-top:10px;
margin-right:235px;
text-align:justify;
font-family: palatino;
}
.sub_title {
margin-left:235px;
margin-top:20px;
margin-right:235px;
text-align:center;
font-family: verdana;
font-size: 140%;
font-weight:bold;
}
.sub_sub_title {
margin-left:235px;
margin-top:20px;
margin-right:235px;
margin-bottom:10px;
text-align:left;
font-family: verdana;
font-size: 120%;
font-style:italic;
}
.s_content {
margin-left:235px;
margin-right:30px;
margin-right:235px;
text-align:center;
font-family: palatino;
font-size: 120%;
font-weight:bold;
}
.pubs {
margin-left:235px;
margin-right:30px;
margin-right:235px;
text-align:left;
font-family: palatino;
font-size: 95%;
}
.pubs li a {
text-align:left;
font-family: palatino;
}
.pubs li i {
text-align:left;
font-family: palatino;
}

.dropbtn {
  background-color: white;
  color: darkgray;
  padding: 0px;
  border: none;
  cursor: pointer;
  font-family: palatino;
  text-align:right;
  font-weight: bold;
  font-size:100%;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: white;
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  color: darkgray;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 105px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: palatino;
  text-align:right;
}

.dropdown-content a {
  color: darkgray;
  padding: 4px 4px;
  text-decoration: none;
  display: block;
  font-family: palatino;
  text-align:right;
}

.dropdown a:hover {
  background-color: #ddd;
  text-decoration: underline;
}

.show {display: block;}

table {
  font-family: palatino;
  border-collapse: collapse;
  margin-left:235px;
  margin-top:5px;
  margin-right:235px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
